#footer{
  background: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: center;

  h2{
    font-family: $font1;
    margin-top: 0;
  }

  .social-icons{
        a{
          transition:0.3s all ease;
          cursor: pointer;

          i{
            font-size: 20px;
            color: #fff;
            margin: 5px;
          }
          &:hover{
            opacity: .7;
          }
        }
      }

    #ip{
      font-family: $font1;
      text-transform: uppercase;
      opacity: .4;
      font-weight: 600;
      margin: 0;
      font-style: normal;
    }
} //footer

@media (max-width: 950px){
    #footer{
      flex-direction: column;

      .f-left, .f-right-container{
        text-align: center;
        justify-content: center;
        margin: 10px 0;
      }

      .f-right-container{
        .f-right{
          #ip{
            margin: 10px 0;
          }
        }
      }
    }
}
